<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="">
       <title>traning</title>
</head>
<body>

<h3>welcom to a traning app </h3>
<button type="submit"> <a href="/signup"> signUP </a></button>
<button type="submit"><a href="/signin"> signIn </a></button>
<button type="submit"><a href="/signout"> signOut </a></button>

  <script src="" async defer></script>  
</body>
</html>